*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header css */
header{
    background-color: white;
    display: block;
    margin: 0px;
   
   
}
header span{
    text-align: left;
    margin: auto;
    font-size: 30px;
    font-weight: bolder;
    
 
}
#logo{
   
    vertical-align: middle;
}
/* body css
 */

 body{
    margin: 5px 20px;
    font-size: large;
    background-color: #F6F8F9;
    
   
 }
 hr{
    color: #F6F8F9;
 }
 main{
    margin: 10px 10%;
    background-color: white;
    padding-left: 10%;
 } 
 .add2{
    /* margin-left: 50px;  */
    padding: 10px 0px;   
   
 }

 .add2 span{
    border:solid 2px grey;
    border-radius: 24px;
    font-size: small;
    color: grey;
    padding: 2px;
    margin-top: 20px;
 }
/* div span{
    border: solid;
    border-radius: 10%;
} */
 ul{
    list-style: none;
 }
 
 .vero{
    width: 200px;
    height: 200px;
    border: solid green;
    border-radius: 50%;
    text-align: center;  
    /* margin: 15px; */
    padding: 1px;
    font-size: small;
     }
     .falso{
        width: 200px;
        height: 200px;
        border: solid red;
        border-radius: 50%;
        text-align: center;  
        margin: 15px;
        padding: 7px;
        font-size: small;
         }


 .categorie{
    border: 1px;
    border-radius: 15px;
    padding: 4px;
    font-size: 10px;
    color: white;
    margin: 2px;
 }
 /* colori css */

.bg-blue{
    background-color: #47ADF1;
}

.bg-body{
    background-color: #F6F8F9;
}

.bg-violet{
    background-color: #9C72E4;
}

.bg-green{
    background-color: #64C0A9 ;
}
.bg-orange{
    background-color: #F29E33;
}
.bg-pink{
   background-color: #D863A1;
}
.bg-olive{
    background-color: #B0C926;
}

