*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header css */
header{
    background-color: white;
    display: block;
    margin: 0px;
   
   
}
header h1{
    text-align: left;
    margin: auto;
    vertical-align: middle;
}
#logo{
    border: solid;
 
}
/* body css
 */

 body{
    margin: 5px 20px;
    font-size: large;
    background-color: red;
    
   
 }
 main{
    margin: 10px 10%;
    background-color: white;
 } 
div span{
    border: solid;
}
 ul{
    list-style: none;
 }
 
 /* colori css */

.bg-blue{
    background-color: #47ADF1;
}

.bg-body{
    background-color: #F6F8F9;
}

.bg-violet{
    background-color: #9C72E4;
}

.bg-green{
    background-color: #64C0A9 ;
}
.bg-orange{
    background-color: #F29E33;
}
.bg-pink{
   background-color: #D863A1;
}
.bg-olive{
    background-color: #B0C926;
}

